<section class="home">
  <navbar></navbar>

  <div class="home-body">
    <create-gallery></create-gallery>

    <div>
      <h2>Galleries</h2>
      <input class="input-std"
        ng-model="homeCtrl.search"
        type="text"
        name="search"
        placeholder="fuzzy search">

      <input class="input-std"
        type="number"
        name="limit"
        min="0"
        placeholder="limit"
        ng-model="homeCtrl.limit">

      <ul>
        <uib-accordion>
          <gallery-item
            ng-repeat="item in homeCtrl.galleries | fuzzySearch : homeCtrl.search | orderBy : 'name' | limitTo : homeCtrl.limit"
            gallery="item"
            ng-click="homeCtrl.currentGallery=item">
          </gallery-item>
        </uib-accordion>
      </ul>
    </div>

    <pic-thumbnail-container ng-if="homeCtrl.currentGallery" gallery="homeCtrl.currentGallery"></pic-thumbnail-container>
  </div>
</section>
